.Sales_Entry select,.Sales_Entry input{
    height:30px;
    font-size:100%;
    text-align: center;
    padding:4px 10px;
}
.headers{
    display:flex;
    align-items: baseline;
    justify-content: center;
    margin-top:40px;
}
.stk .headers h5{
    margin-right:73px;
}
.checkboxes fieldset label{
    display:block
}
.checkboxes fieldset{
    border:0;
    margin:0px 20px;
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
}
.checkboxes {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:20px;
}
