.Sales_Entry select,.Sales_Entry input{
    height:30px;
    font-size:100%;
    text-align: center;
    padding:4px 10px;
}
.headers{
    display:flex;
    align-items: baseline;
    justify-content: center;
}
.Sales-Entry .headers h5{
    margin-right:70px;
}