.burger{
    margin-top:30px;
    margin-left:30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom:20px;

}
.each-burger{
    height:4px;
    width:30px;
    margin-top:3px;
    background-color:#ccc;
}