.chart__section {
    background-color: rgb(238, 235, 235);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.total__heading {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.total__heading > div:nth-child(1) {
    font-size: 1.2rem;
    color: rgb(104, 104, 104);
}

.total__heading > div:nth-child(2) {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.lower__section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.left__section {
    padding: 1rem 0;
    width: 50%;
}

.right__section {
    padding: 1rem 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.each__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color__box {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin: 1rem;
}

.value__box {
    margin-right: 1rem;
}

.item__name {
    color: rgb(104, 104, 104);
}

.item__value {
    font-size: 1.2rem;
    font-weight: bold;
}