.outlet-info{
    display:flex;
    align-items: center;

}
.information-box{
    padding:10px 20px;
    margin:0px 20px;
    color:#fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.purple{
    background-color:#2c92f8;
    
}
.green{
    background-color:#2c92f8;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    box-sizing: content-box;
    padding:8px 10px;
    text-align: center;
    color:#2c92f8;
    font-size:100%;
    cursor: pointer;
}